name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      ################################
      # DOCKER LOGIN
      ################################
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      ################################
      # DOCKER BUILD
      ################################
      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/vst-home-backend:${{ github.run_number }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/vst-home-backend:latest \
            .
