---
name: Frontend CI Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/vst-homepage-frontend:${{ github.run_number }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/vst-homepage-frontend:latest .

      - name: Push
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/vst-homepage-frontend:${{ github.run_number }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/vst-homepage-frontend:latest